<style TYPE="text/css">
<!--
BODY
   {
   font-family:courier;
   }
-->
</style>

<html>
  <body>
    -------- Automated Blue Button Health Information Delivery Request ---------------
    <br/>
    <br/>
    Hi,
    <br/>
Health Information Request for this Direct Email ID has been requested.
<br/>
 To proceed with the request, please follow the link <a href ="http://<%= @url%>:3000/bbp_pulls/new?uuid=<%= @uuid %>"> http://<%= @url%>:3000/bbp_pulls/new?uuid=<%= @uuid %> </a>
<br/>
If you have not initiated this request or do not want to proceed, please just ignore this email. The link shown above will expire in 30 minutes.
<br/>
<br/>
Blue Button Portal
  </body>
</html>