<html>
  <body>
    Hi,
    <br/>
Someone has initiated a blue button pull request for this mail id
<br/>
To proceed with the blue button pull follow the link http://<%= @url%>:3000/bbp_pulls/new?uuid=<%= @uuid %>
<br/>
The link expires in 30 seconds
<br/>

Shrihari
  </body>
</html>
