<html>
  <body>
    Hi,
    <br/>
The following patient has requested to send his information to the destination email provided. The patient details are as follows
<br/>
<br/>
First Name: <%= @patient_detail.first_name %>
<br/>
Last Name: <%= @patient_detail.last_name %>
<br/>
Provider email id: <%= @patient_detail.destination_email %>
<br/>
Use de-identified data for research: <%= @patient_detail.use_for_research %>
<br/>
<br/>
Blue Button Bridge
  </body>
</html>
