<html>
  <body>
    Hi,
    <br/>
If you are able to see this message then my web app can now send emails to specified email ids. This message is generated from the web app.
<br/>
Shrihari
  </body>
</html>
